{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "flowtype",
    "jest",
    "prettier"
  ],
  "env": {
    "jest": true,
    "es6": true
  },
   "rules": {
      "no-undef": 0
   }
}
