{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/extensions": [
      ".js",
      ".ts"
    ],
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ]
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  },
  "plugins": [
    "import",
    "jest",
    "prettier"
  ],
  "env": {
    "jest": true,
    "es6": true
  },
  "rules": {
    "no-undef": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/no-explicit-any": 0
  }
}
