{
  "openapi": "3.0.3",
  "info": {
    "title": "Shortcut API",
    "version": "4.0",
    "description": "Shortcut API"
  },
  "servers": [
    {
      "url": "https://api.app.shortcut.com"
    }
  ],
  "paths": {
    "/api/v4/whoami": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/WhoamiEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "getWhoami",
        "description": "Returns details about the currently-authenticated member and token authorization.",
        "summary": "Get Whoami"
      }
    },
    "/api/v4/schemas/{schema-name}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "schema-name",
            "description": "The name of the JSON schema.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResourceResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "getSchema",
        "description": "Gets the json-schema for a route.",
        "summary": "Get Schema"
      }
    },
    "/api/v4/{workspace-slug}/admin/tokens": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_disabled).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_disabled",
                "include_disabled"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WorkspaceTokenEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listWorkspaceTokens",
        "description": "List Workspace Tokens returns a paginated list of all API Tokens in the Workspace. Requires admin role.",
        "summary": "List Workspace Tokens"
      }
    },
    "/api/v4/{workspace-slug}/admin/tokens/{token-public-id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "token-public-id",
            "description": "The unique ID of the Token.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "deleteWorkspaceToken",
        "description": "Delete Workspace Token disables an API Token in the Workspace. Requires admin role.",
        "summary": "Delete Workspace Token"
      }
    },
    "/api/v4/{workspace-slug}/branches": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_deleted).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_deleted",
                "include_deleted"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BranchEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listBranches",
        "description": "List Branches returns a paginated list of all Branches in the Workspace that have either been associated with a Story, or used in a Pull Request that was associated with a Story.",
        "summary": "List Branches"
      }
    },
    "/api/v4/{workspace-slug}/branches/{branch-public-id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "branch-public-id",
            "description": "The ID of the Branch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BranchEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "getBranch",
        "description": "Get Branch returns information about a chosen Branch.",
        "summary": "Get Branch"
      }
    },
    "/api/v4/{workspace-slug}/branches/{branch-public-id}/stories": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "branch-public-id",
            "description": "The ID of the Branch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "position",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BranchStoryEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listBranchStories",
        "description": "List Branch Stories returns a paginated list of all Stories associated with a Branch in the Workspace.",
        "summary": "List Branch Stories"
      }
    },
    "/api/v4/{workspace-slug}/branches/{branch-public-id}/pull-requests": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "branch-public-id",
            "description": "The ID of the Branch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :include_closed).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_closed",
                "include_closed"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BranchPullRequestEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listBranchPullRequests",
        "description": "List Branch Pull Requests returns a paginated list of all Pull Requests associated with a Branch in the Workspace.",
        "summary": "List Branch Pull Requests"
      }
    },
    "/api/v4/{workspace-slug}/categories": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CategoryEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listCategories",
        "description": "List Categories returns a paginated list of all Categories in the Workspace.",
        "summary": "List Categories"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/CategoryEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "createCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryParams"
              }
            }
          }
        },
        "description": "Create Category allows you to create a new Category in Shortcut.",
        "summary": "Create Category"
      }
    },
    "/api/v4/{workspace-slug}/categories/bulk": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "bulkDeleteCategories",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteCategoriesParams"
              }
            }
          }
        },
        "description": "Bulk Delete Categories deletes multiple Categories.",
        "summary": "Bulk Delete Categories"
      },
      "patch": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CategoryEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "bulkUpdateCategories",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateCategoriesParams"
              }
            }
          }
        },
        "description": "Bulk Update Categories updates multiple Categories, and returns a paginated list of the updated Categories.",
        "summary": "Bulk Update Categories"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/CategoryEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "bulkCreateCategories",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCreateCategoriesParams"
              }
            }
          }
        },
        "description": "Bulk Create Categories creates multiple Categories, and returns a paginated list of the created Categories.",
        "summary": "Bulk Create Categories"
      }
    },
    "/api/v4/{workspace-slug}/categories/{category-public-id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "category-public-id",
            "description": "The ID of the Category.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "deleteCategory",
        "description": "Delete Category removes a Category from the Workspace.",
        "summary": "Delete Category"
      },
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "category-public-id",
            "description": "The ID of the Category.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CategoryEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "getCategory",
        "description": "Get Category returns information about a chosen Category.",
        "summary": "Get Category"
      },
      "patch": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "category-public-id",
            "description": "The ID of the Category.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CategoryEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "updateCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryParams"
              }
            }
          }
        },
        "description": "Update Category allows you to modify a Category in your Shortcut Workspace.",
        "summary": "Update Category"
      }
    },
    "/api/v4/{workspace-slug}/categories/{category-public-id}/objectives": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "category-public-id",
            "description": "The ID of the Category.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CategoryObjectiveEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listCategoryObjectives",
        "description": "List Category Objectives returns a paginated list of all Objectives associated with a Category in the Workspace.",
        "summary": "List Category Objectives"
      }
    },
    "/api/v4/{workspace-slug}/collections": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived",
                "favorited"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CollectionEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listCollections",
        "description": "List Collections returns a paginated list of all Collections in the Workspace.",
        "summary": "List Collections"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/CollectionEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "createCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollectionParams"
              }
            }
          }
        },
        "description": "Create Collection allows you to create a new Collection in the Workspace.",
        "summary": "Create Collection"
      }
    },
    "/api/v4/{workspace-slug}/collections/{collection-public-id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "collection-public-id",
            "description": "The ID of the Collection.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CollectionEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "getCollection",
        "description": "Get Collection returns information about a chosen Collection.",
        "summary": "Get Collection"
      }
    },
    "/api/v4/{workspace-slug}/collections/{collection-public-id}/favorite": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "collection-public-id",
            "description": "The ID of the Collection.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CollectionEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "favoriteCollection",
        "description": "Favorite Collection marks the Collection as a favorite of the current Member, and returns the updated Collection.",
        "summary": "Favorite Collection"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "collection-public-id",
            "description": "The ID of the Collection.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "unfavoriteCollection",
        "description": "Unfavorite Collection removes the Collection from the current Member's favorites.",
        "summary": "Unfavorite Collection"
      }
    },
    "/api/v4/{workspace-slug}/commits": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :all).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CommitEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listCommits",
        "description": "List Commits returns a paginated list of all Commits in the Workspace that have been associated with Stories.",
        "summary": "List Commits"
      }
    },
    "/api/v4/{workspace-slug}/commits/{commit-public-id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "commit-public-id",
            "description": "The ID of the Commit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CommitEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "getCommit",
        "description": "Get Commit returns information about a chosen Commit.",
        "summary": "Get Commit"
      }
    },
    "/api/v4/{workspace-slug}/commits/{commit-public-id}/stories": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "commit-public-id",
            "description": "The ID of the Commit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "position",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CommitStoryEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listCommitStories",
        "description": "List Commit Stories returns a paginated list of all Stories associated with a Commit in the Workspace.",
        "summary": "List Commit Stories"
      }
    },
    "/api/v4/{workspace-slug}/custom-fields": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :all).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CustomFieldEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listCustomFields",
        "description": "List Custom Fields returns a paginated list of all Custom Fields in the Workspace.",
        "summary": "List Custom Fields"
      }
    },
    "/api/v4/{workspace-slug}/custom-fields/bulk": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "bulkDeleteCustomFields",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteCustomFieldsParams"
              }
            }
          }
        },
        "description": "Bulk Delete Custom Fields removes multiple Custom Fields from the Workspace.",
        "summary": "Bulk Delete Custom Fields"
      },
      "patch": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :all).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CustomFieldEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "bulkUpdateCustomFields",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateCustomFieldsParams"
              }
            }
          }
        },
        "description": "Bulk Update Custom Fields updates multiple Custom Fields, and returns a paginated list of the updated Custom Fields.",
        "summary": "Bulk Update Custom Fields"
      }
    },
    "/api/v4/{workspace-slug}/custom-fields/{custom-field-public-id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "custom-field-public-id",
            "description": "The unique ID of the Custom Field.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "deleteCustomField",
        "description": "Delete Custom Field removes a Custom Field from the Workspace.",
        "summary": "Delete Custom Field"
      },
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "custom-field-public-id",
            "description": "The unique ID of the Custom Field.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CustomFieldEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "getCustomField",
        "description": "Get Custom Field returns information about a chosen Custom Field.",
        "summary": "Get Custom Field"
      },
      "patch": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "custom-field-public-id",
            "description": "The unique ID of the Custom Field.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CustomFieldEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "updateCustomField",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomFieldParams"
              }
            }
          }
        },
        "description": "Update Custom Field allows you to modify a Custom Field definition in your Shortcut Workspace.",
        "summary": "Update Custom Field"
      }
    },
    "/api/v4/{workspace-slug}/custom-fields/{custom-field-public-id}/stories": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "custom-field-public-id",
            "description": "The unique ID of the Custom Field.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "position",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CustomFieldStoryEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listCustomFieldStories",
        "description": "Returns a paginated list of all Stories that have a value set for the specified Custom Field.",
        "summary": "List Custom Field Stories"
      }
    },
    "/api/v4/{workspace-slug}/documents": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DocEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listDocs",
        "description": "List Docs returns a paginated list of all accessible Docs in the Workspace.",
        "summary": "List Docs"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/DocEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "createDoc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocBody"
              }
            }
          }
        },
        "description": "Create Doc allows you to create a new Doc in the Workspace.",
        "summary": "Create Doc"
      }
    },
    "/api/v4/{workspace-slug}/documents/bulk": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/DocEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "bulkCreateDocs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCreateDocsParams"
              }
            }
          }
        },
        "description": "Bulk Create Docs creates multiple Docs, and returns a paginated list of the created Docs.",
        "summary": "Bulk Create Docs"
      }
    },
    "/api/v4/{workspace-slug}/documents/search": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "query",
            "description": "Search text to match against Doc titles. Supports fuzzy matching. Required if `cursor` is not sent.",
            "required": false,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "archived",
            "description": "When true, find archived Docs. When false, find non-archived Docs.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "created_by_me",
            "description": "When true, find Docs created by the current user. When false, find Docs NOT created by the current user.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "followed_by_me",
            "description": "When true, find Docs that the current user is following. When false, find Docs NOT followed by the current user.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DocEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "searchDocs",
        "description": "Search Docs lets you search Docs by title, with optional archived/created_by_me/followed_by_me filters.",
        "summary": "Search Docs"
      }
    },
    "/api/v4/{workspace-slug}/documents/{doc-public-id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "doc-public-id",
            "description": "The ID of the Doc.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DocEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "getDoc",
        "description": "Get Doc returns information about a chosen Doc. Pass content_format=markdown (default) or content_format=html to include content in the response.",
        "summary": "Get Doc"
      }
    },
    "/api/v4/{workspace-slug}/documents/{doc-public-id}/followers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "doc-public-id",
            "description": "The ID of the Doc.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_disabled).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_disabled",
                "include_disabled"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DocFollowerEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listDocFollowers",
        "description": "List Doc Followers returns a paginated list of all Members following a Doc in the Workspace.",
        "summary": "List Doc Followers"
      }
    },
    "/api/v4/{workspace-slug}/documents/{doc-public-id}/collections": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "doc-public-id",
            "description": "The ID of the Doc.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived",
                "favorited"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DocCollectionEntityListWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "listDocCollections",
        "description": "List Doc Collections returns a paginated list of the Collections the Doc belongs to.",
        "summary": "List Doc Collections"
      }
    },
    "/api/v4/{workspace-slug}/documents/{doc-public-id}/collections/{collection-public-id}": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "doc-public-id",
            "description": "The ID of the Doc.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "collection-public-id",
            "description": "The ID of the Collection.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DocEntityWrapperResponse"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableResponse"
          }
        },
        "operationId": "addDocToCollection",
        "description": "Add Doc to Collection adds the Doc to the chosen Collection, preserving its other Collection memberships, and returns the updated Doc. Requires write access to the Doc.",
        "summary": "Add Doc to Collection"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "doc-public-id",
            "description": "The ID of the Doc.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "collection-public-id",
            "description": "The ID of the Collection.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/SchemaMismatchResponse"
          },
          "403": {
            "$ref": "#/components/responses/DisabledFeatureErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/ResourceDoesNotExistResponse"
          },
[...]
