{
  "openapi": "3.0.3",
  "info": {
    "title": "Shortcut API",
    "version": "4.0",
    "description": "Shortcut API"
  },
  "servers": [
    {
      "url": "https://api.app.shortcut.com"
    }
  ],
  "paths": {
    "/api/v4/whoami": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631606"
          },
          "400": {
            "$ref": "#/components/responses/Response1631607"
          },
          "404": {
            "$ref": "#/components/responses/Response1631608"
          },
          "422": {
            "$ref": "#/components/responses/Response1631609"
          }
        },
        "operationId": "getWhoami",
        "description": "Returns details about the currently-authenticated member and token authorization.",
        "summary": "Get Whoami"
      }
    },
    "/api/v4/schemas/{schema-name}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "schema-name",
            "description": "The name of the JSON schema.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632386"
          },
          "400": {
            "$ref": "#/components/responses/Response1632387"
          },
          "404": {
            "$ref": "#/components/responses/Response1632388"
          },
          "422": {
            "$ref": "#/components/responses/Response1632389"
          }
        },
        "operationId": "getSchema",
        "description": "Gets the json-schema for a route.",
        "summary": "Get Schema"
      }
    },
    "/api/v4/{workspace-slug}/admin/tokens": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_disabled).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_disabled",
                "include_disabled"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632125"
          },
          "400": {
            "$ref": "#/components/responses/Response1632126"
          },
          "404": {
            "$ref": "#/components/responses/Response1632127"
          },
          "422": {
            "$ref": "#/components/responses/Response1632128"
          }
        },
        "operationId": "listWorkspaceTokens",
        "description": "List Workspace Tokens returns a paginated list of all API Tokens in the Workspace. Requires admin role.",
        "summary": "List Workspace Tokens"
      }
    },
    "/api/v4/{workspace-slug}/admin/tokens/{token-public-id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "token-public-id",
            "description": "The unique ID of the Token.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Response1632527"
          },
          "400": {
            "$ref": "#/components/responses/Response1632528"
          },
          "404": {
            "$ref": "#/components/responses/Response1632529"
          },
          "422": {
            "$ref": "#/components/responses/Response1632530"
          }
        },
        "operationId": "deleteWorkspaceToken",
        "description": "Delete Workspace Token disables an API Token in the Workspace. Requires admin role.",
        "summary": "Delete Workspace Token"
      }
    },
    "/api/v4/{workspace-slug}/branches": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_deleted).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_deleted",
                "include_deleted"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632085"
          },
          "400": {
            "$ref": "#/components/responses/Response1632086"
          },
          "404": {
            "$ref": "#/components/responses/Response1632087"
          },
          "422": {
            "$ref": "#/components/responses/Response1632088"
          }
        },
        "operationId": "listBranches",
        "description": "List Branches returns a paginated list of all Branches in the Workspace that have either been associated with a Story, or used in a Pull Request that was associated with a Story.",
        "summary": "List Branches"
      }
    },
    "/api/v4/{workspace-slug}/branches/{branch-public-id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "branch-public-id",
            "description": "The ID of the Branch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631857"
          },
          "400": {
            "$ref": "#/components/responses/Response1631858"
          },
          "404": {
            "$ref": "#/components/responses/Response1631859"
          },
          "422": {
            "$ref": "#/components/responses/Response1631860"
          }
        },
        "operationId": "getBranch",
        "description": "Get Branch returns information about a chosen Branch.",
        "summary": "Get Branch"
      }
    },
    "/api/v4/{workspace-slug}/branches/{branch-public-id}/stories": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "branch-public-id",
            "description": "The ID of the Branch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "position",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631662"
          },
          "400": {
            "$ref": "#/components/responses/Response1631663"
          },
          "404": {
            "$ref": "#/components/responses/Response1631664"
          },
          "422": {
            "$ref": "#/components/responses/Response1631665"
          }
        },
        "operationId": "listBranchStories",
        "description": "List Branch Stories returns a paginated list of all Stories associated with a Branch in the Workspace.",
        "summary": "List Branch Stories"
      }
    },
    "/api/v4/{workspace-slug}/branches/{branch-public-id}/pull-requests": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "branch-public-id",
            "description": "The ID of the Branch.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :include_closed).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_closed",
                "include_closed"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632053"
          },
          "400": {
            "$ref": "#/components/responses/Response1632054"
          },
          "404": {
            "$ref": "#/components/responses/Response1632055"
          },
          "422": {
            "$ref": "#/components/responses/Response1632056"
          }
        },
        "operationId": "listBranchPullRequests",
        "description": "List Branch Pull Requests returns a paginated list of all Pull Requests associated with a Branch in the Workspace.",
        "summary": "List Branch Pull Requests"
      }
    },
    "/api/v4/{workspace-slug}/categories": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631934"
          },
          "400": {
            "$ref": "#/components/responses/Response1631935"
          },
          "404": {
            "$ref": "#/components/responses/Response1631936"
          },
          "422": {
            "$ref": "#/components/responses/Response1631937"
          }
        },
        "operationId": "listCategories",
        "description": "List Categories returns a paginated list of all Categories in the Workspace.",
        "summary": "List Categories"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/Response1631938"
          },
          "400": {
            "$ref": "#/components/responses/Response1631939"
          },
          "404": {
            "$ref": "#/components/responses/Response1631940"
          },
          "422": {
            "$ref": "#/components/responses/Response1631941"
          }
        },
        "operationId": "createCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryParams"
              }
            }
          }
        },
        "description": "Create Category allows you to create a new Category in Shortcut.",
        "summary": "Create Category"
      }
    },
    "/api/v4/{workspace-slug}/categories/bulk": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Response1632435"
          },
          "400": {
            "$ref": "#/components/responses/Response1632436"
          },
          "404": {
            "$ref": "#/components/responses/Response1632437"
          },
          "422": {
            "$ref": "#/components/responses/Response1632438"
          }
        },
        "operationId": "bulkDeleteCategories",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteCategoriesParams"
              }
            }
          }
        },
        "description": "Bulk Delete Categories deletes multiple Categories.",
        "summary": "Bulk Delete Categories"
      },
      "patch": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632439"
          },
          "400": {
            "$ref": "#/components/responses/Response1632440"
          },
          "404": {
            "$ref": "#/components/responses/Response1632441"
          },
          "422": {
            "$ref": "#/components/responses/Response1632442"
          }
        },
        "operationId": "bulkUpdateCategories",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateCategoriesParams"
              }
            }
          }
        },
        "description": "Bulk Update Categories updates multiple Categories, and returns a paginated list of the updated Categories.",
        "summary": "Bulk Update Categories"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/Response1632443"
          },
          "400": {
            "$ref": "#/components/responses/Response1632444"
          },
          "404": {
            "$ref": "#/components/responses/Response1632445"
          },
          "422": {
            "$ref": "#/components/responses/Response1632446"
          }
        },
        "operationId": "bulkCreateCategories",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCreateCategoriesParams"
              }
            }
          }
        },
        "description": "Bulk Create Categories creates multiple Categories, and returns a paginated list of the created Categories.",
        "summary": "Bulk Create Categories"
      }
    },
    "/api/v4/{workspace-slug}/categories/{category-public-id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "category-public-id",
            "description": "The ID of the Category.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Response1632182"
          },
          "400": {
            "$ref": "#/components/responses/Response1632183"
          },
          "404": {
            "$ref": "#/components/responses/Response1632184"
          },
          "422": {
            "$ref": "#/components/responses/Response1632185"
          }
        },
        "operationId": "deleteCategory",
        "description": "Delete Category removes a Category from the Workspace.",
        "summary": "Delete Category"
      },
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "category-public-id",
            "description": "The ID of the Category.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632186"
          },
          "400": {
            "$ref": "#/components/responses/Response1632187"
          },
          "404": {
            "$ref": "#/components/responses/Response1632188"
          },
          "422": {
            "$ref": "#/components/responses/Response1632189"
          }
        },
        "operationId": "getCategory",
        "description": "Get Category returns information about a chosen Category.",
        "summary": "Get Category"
      },
      "patch": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "category-public-id",
            "description": "The ID of the Category.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632190"
          },
          "400": {
            "$ref": "#/components/responses/Response1632191"
          },
          "404": {
            "$ref": "#/components/responses/Response1632192"
          },
          "422": {
            "$ref": "#/components/responses/Response1632193"
          }
        },
        "operationId": "updateCategory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryParams"
              }
            }
          }
        },
        "description": "Update Category allows you to modify a Category in your Shortcut Workspace.",
        "summary": "Update Category"
      }
    },
    "/api/v4/{workspace-slug}/categories/{category-public-id}/objectives": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "category-public-id",
            "description": "The ID of the Category.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631786"
          },
          "400": {
            "$ref": "#/components/responses/Response1631787"
          },
          "404": {
            "$ref": "#/components/responses/Response1631788"
          },
          "422": {
            "$ref": "#/components/responses/Response1631789"
          }
        },
        "operationId": "listCategoryObjectives",
        "description": "List Category Objectives returns a paginated list of all Objectives associated with a Category in the Workspace.",
        "summary": "List Category Objectives"
      }
    },
    "/api/v4/{workspace-slug}/collections": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived",
                "favorited"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632595"
          },
          "400": {
            "$ref": "#/components/responses/Response1632596"
          },
          "403": {
            "$ref": "#/components/responses/Response1632599"
          },
          "404": {
            "$ref": "#/components/responses/Response1632597"
          },
          "422": {
            "$ref": "#/components/responses/Response1632598"
          }
        },
        "operationId": "listCollections",
        "description": "List Collections returns a paginated list of all Collections in the Workspace.",
        "summary": "List Collections"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/Response1632600"
          },
          "400": {
            "$ref": "#/components/responses/Response1632601"
          },
          "403": {
            "$ref": "#/components/responses/Response1632604"
          },
          "404": {
            "$ref": "#/components/responses/Response1632602"
          },
          "422": {
            "$ref": "#/components/responses/Response1632603"
          }
        },
        "operationId": "createCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollectionParams"
              }
            }
          }
        },
        "description": "Create Collection allows you to create a new Collection in the Workspace.",
        "summary": "Create Collection"
      }
    },
    "/api/v4/{workspace-slug}/collections/{collection-public-id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "collection-public-id",
            "description": "The ID of the Collection.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632410"
          },
          "400": {
            "$ref": "#/components/responses/Response1632411"
          },
          "403": {
            "$ref": "#/components/responses/Response1632414"
          },
          "404": {
            "$ref": "#/components/responses/Response1632412"
          },
          "422": {
            "$ref": "#/components/responses/Response1632413"
          }
        },
        "operationId": "getCollection",
        "description": "Get Collection returns information about a chosen Collection.",
        "summary": "Get Collection"
      }
    },
    "/api/v4/{workspace-slug}/collections/{collection-public-id}/favorite": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "collection-public-id",
            "description": "The ID of the Collection.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631794"
          },
          "400": {
            "$ref": "#/components/responses/Response1631795"
          },
          "403": {
            "$ref": "#/components/responses/Response1631798"
          },
          "404": {
            "$ref": "#/components/responses/Response1631796"
          },
          "422": {
            "$ref": "#/components/responses/Response1631797"
          }
        },
        "operationId": "favoriteCollection",
        "description": "Favorite Collection marks the Collection as a favorite of the current Member, and returns the updated Collection.",
        "summary": "Favorite Collection"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "collection-public-id",
            "description": "The ID of the Collection.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Response1631799"
          },
          "400": {
            "$ref": "#/components/responses/Response1631800"
          },
          "403": {
            "$ref": "#/components/responses/Response1631803"
          },
          "404": {
            "$ref": "#/components/responses/Response1631801"
          },
          "422": {
            "$ref": "#/components/responses/Response1631802"
          }
        },
        "operationId": "unfavoriteCollection",
        "description": "Unfavorite Collection removes the Collection from the current Member's favorites.",
        "summary": "Unfavorite Collection"
      }
    },
    "/api/v4/{workspace-slug}/commits": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :all).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632039"
          },
          "400": {
            "$ref": "#/components/responses/Response1632040"
          },
          "404": {
            "$ref": "#/components/responses/Response1632041"
          },
          "422": {
            "$ref": "#/components/responses/Response1632042"
          }
        },
        "operationId": "listCommits",
        "description": "List Commits returns a paginated list of all Commits in the Workspace that have been associated with Stories.",
        "summary": "List Commits"
      }
    },
    "/api/v4/{workspace-slug}/commits/{commit-public-id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "commit-public-id",
            "description": "The ID of the Commit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631696"
          },
          "400": {
            "$ref": "#/components/responses/Response1631697"
          },
          "404": {
            "$ref": "#/components/responses/Response1631698"
          },
          "422": {
            "$ref": "#/components/responses/Response1631699"
          }
        },
        "operationId": "getCommit",
        "description": "Get Commit returns information about a chosen Commit.",
        "summary": "Get Commit"
      }
    },
    "/api/v4/{workspace-slug}/commits/{commit-public-id}/stories": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "commit-public-id",
            "description": "The ID of the Commit.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "position",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632194"
          },
          "400": {
            "$ref": "#/components/responses/Response1632195"
          },
          "404": {
            "$ref": "#/components/responses/Response1632196"
          },
          "422": {
            "$ref": "#/components/responses/Response1632197"
          }
        },
        "operationId": "listCommitStories",
        "description": "List Commit Stories returns a paginated list of all Stories associated with a Commit in the Workspace.",
        "summary": "List Commit Stories"
      }
    },
    "/api/v4/{workspace-slug}/custom-fields": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :all).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632015"
          },
          "400": {
            "$ref": "#/components/responses/Response1632016"
          },
          "404": {
            "$ref": "#/components/responses/Response1632017"
          },
          "422": {
            "$ref": "#/components/responses/Response1632018"
          }
        },
        "operationId": "listCustomFields",
        "description": "List Custom Fields returns a paginated list of all Custom Fields in the Workspace.",
        "summary": "List Custom Fields"
      }
    },
    "/api/v4/{workspace-slug}/custom-fields/bulk": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Response1631917"
          },
          "400": {
            "$ref": "#/components/responses/Response1631918"
          },
          "404": {
            "$ref": "#/components/responses/Response1631919"
          },
          "422": {
            "$ref": "#/components/responses/Response1631920"
          }
        },
        "operationId": "bulkDeleteCustomFields",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeleteCustomFieldsParams"
              }
            }
          }
        },
        "description": "Bulk Delete Custom Fields removes multiple Custom Fields from the Workspace.",
        "summary": "Bulk Delete Custom Fields"
      },
      "patch": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "updated_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :all).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631921"
          },
          "400": {
            "$ref": "#/components/responses/Response1631922"
          },
          "404": {
            "$ref": "#/components/responses/Response1631923"
          },
          "422": {
            "$ref": "#/components/responses/Response1631924"
          }
        },
        "operationId": "bulkUpdateCustomFields",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateCustomFieldsParams"
              }
            }
          }
        },
        "description": "Bulk Update Custom Fields updates multiple Custom Fields, and returns a paginated list of the updated Custom Fields.",
        "summary": "Bulk Update Custom Fields"
      }
    },
    "/api/v4/{workspace-slug}/custom-fields/{custom-field-public-id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "custom-field-public-id",
            "description": "The unique ID of the Custom Field.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Response1631741"
          },
          "400": {
            "$ref": "#/components/responses/Response1631742"
          },
          "404": {
            "$ref": "#/components/responses/Response1631743"
          },
          "422": {
            "$ref": "#/components/responses/Response1631744"
          }
        },
        "operationId": "deleteCustomField",
        "description": "Delete Custom Field removes a Custom Field from the Workspace.",
        "summary": "Delete Custom Field"
      },
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "custom-field-public-id",
            "description": "The unique ID of the Custom Field.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631745"
          },
          "400": {
            "$ref": "#/components/responses/Response1631746"
          },
          "404": {
            "$ref": "#/components/responses/Response1631747"
          },
          "422": {
            "$ref": "#/components/responses/Response1631748"
          }
        },
        "operationId": "getCustomField",
        "description": "Get Custom Field returns information about a chosen Custom Field.",
        "summary": "Get Custom Field"
      },
      "patch": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "custom-field-public-id",
            "description": "The unique ID of the Custom Field.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631749"
          },
          "400": {
            "$ref": "#/components/responses/Response1631750"
          },
          "404": {
            "$ref": "#/components/responses/Response1631751"
          },
          "422": {
            "$ref": "#/components/responses/Response1631752"
          }
        },
        "operationId": "updateCustomField",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomFieldParams"
              }
            }
          }
        },
        "description": "Update Custom Field allows you to modify a Custom Field definition in your Shortcut Workspace.",
        "summary": "Update Custom Field"
      }
    },
    "/api/v4/{workspace-slug}/custom-fields/{custom-field-public-id}/stories": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "custom-field-public-id",
            "description": "The unique ID of the Custom Field.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "position",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632230"
          },
          "400": {
            "$ref": "#/components/responses/Response1632231"
          },
          "404": {
            "$ref": "#/components/responses/Response1632232"
          },
          "422": {
            "$ref": "#/components/responses/Response1632233"
          }
        },
        "operationId": "listCustomFieldStories",
        "description": "Returns a paginated list of all Stories that have a value set for the specified Custom Field.",
        "summary": "List Custom Field Stories"
      }
    },
    "/api/v4/{workspace-slug}/documents": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1632043"
          },
          "400": {
            "$ref": "#/components/responses/Response1632044"
          },
          "403": {
            "$ref": "#/components/responses/Response1632047"
          },
          "404": {
            "$ref": "#/components/responses/Response1632045"
          },
          "422": {
            "$ref": "#/components/responses/Response1632046"
          }
        },
        "operationId": "listDocs",
        "description": "List Docs returns a paginated list of all accessible Docs in the Workspace.",
        "summary": "List Docs"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/Response1632048"
          },
          "400": {
            "$ref": "#/components/responses/Response1632049"
          },
          "403": {
            "$ref": "#/components/responses/Response1632052"
          },
          "404": {
            "$ref": "#/components/responses/Response1632050"
          },
          "422": {
            "$ref": "#/components/responses/Response1632051"
          }
        },
        "operationId": "createDoc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocBody"
              }
            }
          }
        },
        "description": "Create Doc allows you to create a new Doc in the Workspace.",
        "summary": "Create Doc"
      }
    },
    "/api/v4/{workspace-slug}/documents/bulk": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/Response1632133"
          },
          "400": {
            "$ref": "#/components/responses/Response1632134"
          },
          "403": {
            "$ref": "#/components/responses/Response1632137"
          },
          "404": {
            "$ref": "#/components/responses/Response1632135"
          },
          "422": {
            "$ref": "#/components/responses/Response1632136"
          }
        },
        "operationId": "bulkCreateDocs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkCreateDocsParams"
              }
            }
          }
        },
        "description": "Bulk Create Docs creates multiple Docs, and returns a paginated list of the created Docs.",
        "summary": "Bulk Create Docs"
      }
    },
    "/api/v4/{workspace-slug}/documents/search": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "query",
            "description": "Search text to match against Doc titles. Supports fuzzy matching. Required if `cursor` is not sent.",
            "required": false,
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "archived",
            "description": "When true, find archived Docs. When false, find non-archived Docs.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "created_by_me",
            "description": "When true, find Docs created by the current user. When false, find Docs NOT created by the current user.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "followed_by_me",
            "description": "When true, find Docs that the current user is following. When false, find Docs NOT followed by the current user.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631601"
          },
          "400": {
            "$ref": "#/components/responses/Response1631602"
          },
          "403": {
            "$ref": "#/components/responses/Response1631605"
          },
          "404": {
            "$ref": "#/components/responses/Response1631603"
          },
          "422": {
            "$ref": "#/components/responses/Response1631604"
          }
        },
        "operationId": "searchDocs",
        "description": "Search Docs lets you search Docs by title, with optional archived/created_by_me/followed_by_me filters.",
        "summary": "Search Docs"
      }
    },
    "/api/v4/{workspace-slug}/documents/{doc-public-id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "doc-public-id",
            "description": "The ID of the Doc.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631728"
          },
          "400": {
            "$ref": "#/components/responses/Response1631729"
          },
          "403": {
            "$ref": "#/components/responses/Response1631732"
          },
          "404": {
            "$ref": "#/components/responses/Response1631730"
          },
          "422": {
            "$ref": "#/components/responses/Response1631731"
          }
        },
        "operationId": "getDoc",
        "description": "Get Doc returns information about a chosen Doc. Pass content_format=markdown (default) or content_format=html to include content in the response.",
        "summary": "Get Doc"
      }
    },
    "/api/v4/{workspace-slug}/documents/{doc-public-id}/followers": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "doc-public-id",
            "description": "The ID of the Doc.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_disabled).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_disabled",
                "include_disabled"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631978"
          },
          "400": {
            "$ref": "#/components/responses/Response1631979"
          },
          "403": {
            "$ref": "#/components/responses/Response1631982"
          },
          "404": {
            "$ref": "#/components/responses/Response1631980"
          },
          "422": {
            "$ref": "#/components/responses/Response1631981"
          }
        },
        "operationId": "listDocFollowers",
        "description": "List Doc Followers returns a paginated list of all Members following a Doc in the Workspace.",
        "summary": "List Doc Followers"
      }
    },
    "/api/v4/{workspace-slug}/documents/{doc-public-id}/collections": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "doc-public-id",
            "description": "The ID of the Doc.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at"
              ]
            }
          },
          {
            "in": "query",
            "name": "order_dir",
            "description": "Order order_by in this direction. If order_by not provided, the default order property for this entity type will be used.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter options (default: :exclude_archived).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exclude_archived",
                "include_archived",
                "favorited"
              ]
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631844"
          },
          "400": {
            "$ref": "#/components/responses/Response1631845"
          },
          "403": {
            "$ref": "#/components/responses/Response1631848"
          },
          "404": {
            "$ref": "#/components/responses/Response1631846"
          },
          "422": {
            "$ref": "#/components/responses/Response1631847"
          }
        },
        "operationId": "listDocCollections",
        "description": "List Doc Collections returns a paginated list of the Collections the Doc belongs to.",
        "summary": "List Doc Collections"
      }
    },
    "/api/v4/{workspace-slug}/documents/{doc-public-id}/collections/{collection-public-id}": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "doc-public-id",
            "description": "The ID of the Doc.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "collection-public-id",
            "description": "The ID of the Collection.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Fields to include in the response, as a comma-separated string. If provided, only these fields will be included for each entity in the response. If not present, all fields will be returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Response1631686"
          },
          "400": {
            "$ref": "#/components/responses/Response1631687"
          },
          "403": {
            "$ref": "#/components/responses/Response1631690"
          },
          "404": {
            "$ref": "#/components/responses/Response1631688"
          },
          "422": {
            "$ref": "#/components/responses/Response1631689"
          }
        },
        "operationId": "addDocToCollection",
        "description": "Add Doc to Collection adds the Doc to the chosen Collection, preserving its other Collection memberships, and returns the updated Doc. Requires write access to the Doc.",
        "summary": "Add Doc to Collection"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "doc-public-id",
            "description": "The ID of the Doc.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "collection-public-id",
            "description": "The ID of the Collection.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Response1631691"
          },
          "400": {
            "$ref": "#/components/responses/Response1631692"
          },
          "403": {
            "$ref": "#/components/responses/Response1631695"
          },
          "404": {
            "$ref": "#/components/responses/Response1631693"
          },
          "422": {
            "$ref": "#/components/responses/Response1631694"
          }
        },
        "operationId": "removeDocFromCollection",
        "description": "Remove Doc from Collection removes the Doc from the chosen Collection, preserving its other Collection memberships. Requires write access to the Doc.",
        "summary": "Remove Doc from Collection"
      }
    },
    "/api/v4/{workspace-slug}/entity-templates": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "workspace-slug",
            "description": "The slug for the Workspace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The number of results to include in a page. Can be between 1 and 100. Defaults to 10.",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "The cursor indicating where we are in a paged response. If sent, it (and an optional `fields` parameter) must be the only parameters.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Order the results by this property and direction.",
            "required": false,
[...]
